body {
    font-family: Arial, sans-serif;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    margin-top: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.quiz-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.quiz-header h2 {
    margin-bottom: 20px;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    margin-left: 8px;
    font-size: 18px;
    color: #333;
}

input[type="radio"] {
    accent-color: black;
    width: 20px;
    height: 20px;
}

button {
    background-color: rgb(169, 169, 26);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: gray;
}

.answer-container label:hover {
    color: #004d40;
}

.answer-container input:checked+label {
    color: #004d40;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .quiz-container {
        padding: 20px;
        margin-top: 20px;
    }

    .quiz-header h2 {
        font-size: 24px;
    }

    label {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    input[type="radio"] {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 480px) {
    .quiz-container {
        padding: 15px;
        margin-top: 15px;
    }

    .quiz-header h2 {
        font-size: 20px;
    }

    label {
        font-size: 14px;
    }

    button {
        font-size: 12px;
        padding: 8px 16px;
    }

    input[type="radio"] {
        width: 16px;
        height: 16px;
    }
}